// colors
$main: #ffff;
$accent: #263238;
$secondary: #39515e;
$main-box: #f5f5f5;
$text: #8f95a5;

// fonts
$font-main: "Poppins", sans-serif;

// animated
$transition: all 0.25s ease-in-out;

// media
$fullhd: 1920px;
$screen: 1440px;
$tablet: 992px;
$stablet: 767px;
$xstablet: 576px;
// $phonemax: 440px;
$phone: 320px;
