.about {
  text-align: center;
  margin-bottom: 70px;

  @include mediaScreen {
    margin-top: 100px;
  }

  @include mediaFullHd {
    margin-top: 150px;

    margin-bottom: 150px;
  }

  & .h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 80px;

    margin-bottom: 30px;

    @include mediaXSTablet {
      font-size: 30px;
    }

    @include mediaSTablet {
      display: none;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column-reverse;

    @include mediaSTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include mediaFullHd {
      justify-content: space-evenly;
    }
  }
}

.about__img-box {
  margin-bottom: 25px;

  @include mediaSTablet {
    margin-bottom: 0;
  }
  & .about__img {
    margin: 0 auto;

    @include mediaXSTablet {
      max-width: 352px;
    }
    @include mediaSTablet {
      max-width: 295px;
    }

    @include mediaTablet {
      max-width: 336px;
    }

    @include mediaScreen {
      max-width: 500px;
    }

    @include mediaFullHd {
      max-width: 600px;
    }
  }
}

.flextitle {
  display: none;
  text-align: start;

  @include mediaSTablet {
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
  }

  @include mediaTablet {
    font-size: 36px;
    margin-bottom: 15px;
  }

  @include mediaScreen {
    font-size: 48px;
    margin-bottom: 25px;
  }

  @include mediaFullHd {
    font-size: 56px;
    margin-bottom: 35px;
  }
}

.about__text {
  font-size: 13px;
  font-weight: 400;
  text-align: start;

  margin-bottom: 30px;

  @include mediaXSTablet {
    font-size: 14px;
  }
  @include mediaSTablet {
    margin-bottom: 10px;
    max-width: 321px;
  }

  @include mediaTablet {
    margin-bottom: 16px;
    max-width: 550px;
  }

  @include mediaScreen {
    margin-bottom: 35px;
    font-size: 20px;
    max-width: 600px;
  }

  @include mediaFullHd {
    margin-bottom: 40px;
    font-size: 23px;
    max-width: 650px;
  }
}

.about__info {
  @include mediaXSTablet {
    display: flex;
    justify-content: space-around;
  }

  @include mediaTablet {
    justify-content: flex-start;
    gap: 60px;
  }

  @include mediaScreen {
    justify-content: flex-start;
    gap: 100px;
  }

  & .h4 {
    color: $accent;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;

    @include mediaSTablet {
      font-size: 22px;
    }

    @include mediaTablet {
      font-size: 30px;
    }

    @include mediaScreen {
      font-size: 48px;
    }
  }

  & .item__text {
    font-size: 15px;
    font-weight: 400;

    @include mediaSTablet {
      font-size: 13px;
    }
    @include mediaTablet {
      font-size: 16px;
    }

    @include mediaScreen {
      font-size: 20px;
    }
  }
}
